:root {
  --base-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;

  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-text-color: #fff;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --light-background-accent-color: #f4f4fd;
}

/*#region Global Styles */
body {
  background-color: var(--white-text-color);
  font-family: var(--base-font-family);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: var(--base-font-family);
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--primary-accent-color);
}

button:hover,
button:focus {
  background-color: var(--secondary-accent-color);
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

/*#endregion*/

/*#region Common Classes  Styles */
/*#endregion*/

/*#region Logo Styles */
.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
}

.header-logo-accent {
  color: var(--secondary-text-color);
}

.footer-logo-accent {
  color: var(--light-background-accent-color);
}
/*#endregion*/

/*#region Header Styles */
.header-link:hover,
.header-link:focus {
  color: var(--secondary-accent-color);
}

.header-nav-link {
  font-weight: 500;
  color: var(--secondary-text-color);
}
/*#endregion*/

/*#region Hero Styles */
.hero {
  background-color: var(--secondary-text-color);
  color: var(--white-text-color);
}

.hero-header {
  color: inherit;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-button {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
}
/*#endregion*/

/*#region Team Styles */
.team {
  background-color: var(--light-background-accent-color);
}

.team-list-header {
  text-align: center;
}

.team-list-item {
  background-color: var(--white-text-color);
}

.team-list-text {
  text-align: center;
}
/*#endregion*/

/*#region Footer Styles */
.footer {
  background-color: var(--secondary-text-color);
  color: var(--light-background-accent-color);
}
/*#endregion*/
