:root {
  --main-background-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --header-bcg-color: #2f303a;
  --text-and-button-accent: #2196f3;
  --main-text-color: #757575;
  --header-color: #212121;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
/* header */
.logo {
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--text-and-button-accent);
}
